---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout>
  <div class="prose">
    <p>
      {SITE_DESCRIPTION}
    </p>
    <p>
      Building my own blog app inspired by <a href="https://bearblog.dev/"
        >Bear blog</a
      > in less than 2 hours.
    </p>
    <p>
      Have fun, if you have any questions you can contact me at <a
        href="mailto:connect@himanshubhardwaz.com"
        >connect@himanshubhardwaz.com</a
      >.
    </p>
  </div>
</Layout>
