---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout>
  <div class="prose">
    <p>
      {SITE_DESCRIPTION}
    </p>

    <p>
      This is the place where I write about web development, tech experiments,
      and the occasional existential crisis over which JavaScript framework to
      use.
    </p>
    <p>
      At first, my portfolio and blog were a happy couple—until they realized
      they had creative differences. So, they amicably parted ways. Now, my
      portfolio is soon going to embrace Go + HTMX for that sleek, server-driven
      lifestyle, while my blog is chilling with Astro + MDX, enjoying type
      safety and static site generation like a true minimalist.
    </p>
    <p>
      Why the split? Because I enjoy overengineering things for <em>fun.</em>
    </p>
    <p>
      Stick around, read some stuff, and if you have questions (or want to
      debate frontend choices), hit me up at <a
        href="mailto:connect@himanshubhardwaz.com"
        >connect@himanshubhardwaz.com</a
      >.
    </p>
  </div>
</Layout>
