---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <!--  -->
  </head>
  <body>
    <!-- <Header /> -->
    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
